<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://newsalphapipelinesazurefourchan20190910062338.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/399bc54c-8a38-4d95-a96b-ee8069dc5b90/resourcegroups/newsalpha/providers/Microsoft.Web/sites/NewsAlphaPipelinesAzureFourChan20190910062338</ResourceId>
    <UserName>$NewsAlphaPipelinesAzureFourChan20190910062338</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://newsalphapipelinesazurefourchan20190910062338.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>